/* 412×915 */ 


.footer-navigation {
    font-weight: bold; 
    text-align: center;
    font-size: 20px; 
    color: rgb(5, 5, 205);
}



.navigation-block-item {
    margin: 30px;
}



.navigation-block-item a {
    display: flex; 
    margin-top: 5px;
    
}




.navigation-links-block a {
    text-decoration: none; 
    color: black; 
    font-weight: normal;
}




a {
    text-decoration: none; 
    color: black; 
    font-weight: bold;
}





.social-media {
    width: 200px; 
    float: right; 
    margin: 10px 20px;
    color: rgb(30, 108, 27); 
    font-weight: bold; 
    background-color: antiquewhite; 
    border: 2px solid gray;
} 



.social-media img {
    width: 100px; 
    margin-bottom: 25px;
}




/* 1920×1080 */
@media only screen and (min-width: 1280px) and (max-width: 1920px) {

    .footer-navigation {
        font-size: 40px;
    }

    .navigation-block-item {
        line-height: 60px; 
        font-size: 40px;
    }


    .social-media {
        margin: 10px 80px; 
        width: 800px;
    }


    .social-media img {
        width: 300px; 
        margin-bottom: 50px;
    } 


}