.social-media {
    width: 200px; 
    float: right; 
    margin: 10px 20px;
    color: rgb(30, 108, 27); 
    font-weight: bold; 
    background-color: antiquewhite; 
    border: 2px solid gray;
} 



.social-media img {
    width: 100px; 
    margin-bottom: 25px;
}