/* @media only screen and (max-width: 640px)  {} */

/* 412×915 */ 



.orangeLine {
    /* float: right; - with space in the top */ 
    position: absolute; 
    top: 0; /* to the top without space */
    right: 0; 
    z-index: -1; /* behind other content */
    width: 56%; 
    
} 



.tourist {
    width: 60%;  
    margin: 4px 10px 10px 130px;
} 



.desc {
    width: 155px; 
    margin: -235px 10px 10px 10px;
}




.tagline {
    font-family: 'Poppins-Bold', Arial, sans-serif; 
    color: #df6951; 
    font-size: 15px; 
    word-wrap: break-word; /* to adjust width size in mobile first */
} 



.heading {
    font-family: 'Volkhov-Bold', Arial, sans-serif; 
    color: #181e4b; 
    font-size: 20px; 
    word-wrap: break-word;

} 




.description {
    font-family: 'Poppins-Medium', Arial, sans-serif; 
    font-size: 10px; 
    word-wrap: break-word;
}




.buttonFindOut {
    border-radius: 10px; 
    padding: 10px; 
    background-color: orange; 
    color: white; 
    margin: 5px 10px 10px 10px;
}



h1 {
    font-family: 'Volkhov-Bold', Arial, sans-serif; 
    text-align: center;
    font-size: 20px; 
    margin: 40px 70px;
}



.services { 
    overflow-x: hidden;
}




.services-cards {
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 60px;

}



.card-item {
    align-items: center; /* all card elements in center */ 
    max-width: 25%; 
    margin-right: 30px; 
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    border-radius: 20px; 
    padding: 20px; 
    background-color: rgb(255, 255, 255); /* to make it in front of under-image (shadows) */
}






.card-item img {
    height: 90px; 
    width: 90px;
    object-fit: scale-down; /* images with different size with size of container */
}



.under-image img{
    margin: 270px 10px 10px 200px;
    width: 50px; 
    position: absolute;
    z-index: -1;
}



.card-item p {
    text-align: center; 
    font-weight: bold;
}



.card-item span {
    text-align: center; 
    width: 150px; 
    margin-bottom: 30px;
}




.destinations { 
    overflow-x: hidden;
}




.destination-cards {
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: -35px;

}



.destination-item {
    max-width: 100%; 
    margin-bottom: -80px;
}



.spring {
    width: 60px; 
    height: 300px; 
    margin: -450px 10px 10px 360px; 
    z-index: -1;
}




.subscribe-section {
    background-color: #dfd7f9; 
    font-family: 'Poppins-Medium', Arial, sans-serif; 
    text-align: center;
    font-size: 20px;
    padding: 20px; 
    margin: 20px; 
    border-radius: 50px 0 0 0; /* rounded only one top left corner */
}



.send {
    width: 50px; 
    position: absolute;
    margin: -30px 10px 10px 150px;
}



.input-email {
    width: 270px; 
    height: 30px; 
    padding-left: 45px; /* padding for placeholder text */
    background: url(../../assets/images/mail.png) 10px center no-repeat; /* image in input + padding for image*/ 
    background-color: white; /* color for input */ 
    border-radius: 10px;
}



.subscribe-button {
    background-color: rgb(247, 198, 107); 
    width: 100px; 
    height: 30px; 
    border-radius: 5px; 
    margin-top: 15px; 
    box-shadow: 2px 5px rgb(147, 147, 147); /* shadow under box */
}












/* @media only screen and (max-width: 768px)   {} */





/* 1920×1080 */
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
    .orangeLine {
        width: 40%;
    } 

    .tourist {
        width: 40%;  
        margin: -23px 10px 10px 1010px;
    } 

    .desc {
        width: 50%;
        margin: -635px 10px 10px 10px; 
        padding-left: 120px;
    }


    .tagline {
        font-size: 30px; 
    } 
    
    
    
    .heading {
        font-size: 50px; 
    } 
    
    
    
    
    .description {
        font-size: 20px; 

    } 

    .buttonFindOut {
        margin: 40px 10px 10px 130px; 
        padding: 20px 70px; 
        font-size: 30px;
    }

    
    h1 {
        font-size: 50px; 
        margin-top: 300px; 
        margin-bottom: 100px;
    } 

    
    .card-item {
        height: 300px; 
        margin: 30px; 
        width: 350px; 
        text-align: center;
    }


    .card-item img {
        object-fit: none; 
        margin: 10px; 
        width: 100%; 
    }
    
    
    
    .under-image img{
        margin: 270px 10px 10px 500px;
        width: 150px; 

    }
    
    
    
    .card-item p {
        font-size: 30px;
    }
    
    
    
    .card-item span {
        font-size: 25px;
    }
    


    .destination-cards {
        margin-left: 300px;
    }



    .destination-item {
        width: 25%;
    } 


    .spring {
        height: 300px; 
        width: 100px; 
        margin-top: 100px; 
        margin-left: -45px;
    }


    .subscribe-section { 
        width: 80%; 
        margin-left: 100px;
        font-size: 40px; 
        padding: 80px; 
        border-radius: 170px 0 0 0;
    }


    .send {
        width: 100px; 
        margin: -120px 10px 10px 780px;
    }


    .input-email {
        width: 600px; 
        height: 80px; 
        border-radius: 20px; 
        font-size: 30px; 
        background: url(../../assets/images/mail.png) 20px center no-repeat; 
        background-size: 30px; /* img size */
        padding-left: 70px; /* placeholder from img */
    }



    .subscribe-button {
        width: 200px; 
        height: 80px; 
        border-radius: 15px; 
        font-size: 30px;
    }


    .footer-navigation { 
        display: flex;
        margin: 80px 160px; 
        font-size: 40px; 
    } 


    .navigation-footer {
        display: flex; 
        flex-direction: row;
    } 


}



/* Desktop: 1920×1080, 1366×768, 1536×864, 1280×720
Mobile: 640×480, 360×800, 390×844, 393×873, 412×915
Tablet: 768×1024, 1280×800, 800×1280, 820×118 */